html,body{
	width:100%;height:100%;background-color:white;}
.navbar-nav {
	margin-left:15px;
	margin-top:10px;
	font-size:26px;
	font-weight:bold;
}
a.rine,
a.rine:hover,
a.rine:visited,
a.rine:active {text-decoration:none;}
.rine2{
	background-color: #d5f1ff;
    width: fit-content;
    height: 50px;
    opacity: 85%;
    font-weight: 700;
    border: 1px solid #505050;
    border-radius: 5px;
    margin: 20px 10px 10px 0;
    z-index: 99999;
    align-content: center;
    font-size: larger;
    pointer-events: auto;
    padding: 0 10px;
    text-wrap: pretty;
	color:rgb(43, 43, 43);
	box-shadow: 3px 3px 5px rgb(62, 60, 60);
	& span {font-size:smaller;}
}
.rine2:hover{color:rgb(0, 0, 0);font-weight:800;}
#map {
	height: 100%;
	width: 100%;
	pointer-events: all;
}
.logo{
	background-image: url('https://raw.githubusercontent.com/NYCDOB/CommunityProfiles_v2/gh-pages/dob_logo_white_transparent.png');
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	background-size: 80px;
	height: 50px;
	width: 110px;	  
}
.pointVioAmtDue{
	fill: #B32420;
	fill-opacity: .5;
	stroke: #fff;
}
.tooltipBox {
    z-index: 99999;
	visibility: hidden;
    color:black;
	background: #fff;
	border-radius: 3px; 
	opacity: 0.9; 
	position: absolute;
    border: 1px solid #707070;
	bottom: 5px;
	width: 35rem;
	left:5px;
	display:flex;
	flex-direction: column;	
	pointer-events: all;
	user-select: text !important;
}
@media( max-width:1200px){
	dobmain	{
		padding-top:50px;
	}
	.showhelp {
		display:none;
	}
}
svg {
	display: block;
}
.nv-x text{
	margin-top: 50px;
	font-size: 10px;
	fill: #B32420;
}
.legendSQFT {
	padding: 6px 10px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	border: 2px solid #707070;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	width: 200px;
}
#legendTitleSQFT {
	text-align: center;
	margin-bottom: 15px;
	font-variant: small-caps;
	font-size: 15px;
	font-weight: bold;
}
.symbolsContainerSQFT {
		float: left;
		margin-left: 50px;
}
.legendCircleSQFT {
		border-radius: 50%;
		border: 1px solid #fff;
		background: rgba(179, 36, 32, .4);
		display: inline-block;
}
.legendValueSQFT {
		position: absolute;	
		right: 8px;
}

.form-check {
	filter: grayscale(1);
}
.showhelp {
	color: white;
	padding-top: 10px;
	padding-right: 25px;
	font-weight: 600;
	font-size:1.4em;
	cursor:pointer;
}
.showhelp:hover {
    color: #999;
    text-decoration:underline;
}
._cycleD {
padding: 2px 10px 10px;
overflow-y:auto;
}
._cycleD > div{
display: flex;
margin: 3px 0px;

}
._fM3_0 :nth-child(1){
flex:5;
}
._fM3_0 :nth-child(2){
flex:4;
}
._fM3_0:nth-child(n+8):nth-child(-n+15) div:nth-child(2){
	text-align: right;
	margin-right: 5px;
}
._b {
font-weight:600;
font-size: 1.2em;
padding:10px;
margin:0px;
}
._cor{
color:white;display:none;
}
._nav{
flex:1;
}
._tD{
background-color: #969696 ;/*rgb(43, 119, 241);*/
color: white;
display:flex;
padding:0 10px;
}
._tD div {
align-self:center;
}
._tD :nth-child(2) {
flex:1;
}
._pr, ._nx,._cl {
font-size:1.2em;
cursor:pointer;
}
._cl{
float:right;
}
a.ndec{
text-decoration: none;
}
.nosplash{display:none;}
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 700,
'GRAD' 200,
'opsz' 48;
font-size: 16px;
}
.helpinfo {
	cursor: help;
    color: blue;
    font-size: 1.2em;
}
.payhead {
	cursor: help;
	font-size: 1.1em;
}
#sliderTxt {
	line-height: 12px;
	vertical-align: middle;
}
#slider-step {
	top: 45px;
	width: 350px;
	position: absolute;
	margin-left: 30px;
	background: white;
	background: rgba(255,255,255,0.8);
	border: 2px solid #707070;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 7px;
}
.sliderContainer {
	top: 235px;
	left: 12px;
	padding: 8px;
	position: absolute;
	background: white;
	background: rgba(255,255,255,0.8);
	border: 2px solid #707070;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	width: 425px;
	height: 110px;
}
#ageSliderTxt {
		text-align: center;
		margin-bottom: 15px;
		font-variant: small-caps;
		font-size: 15px;
		font-weight: bold;
}
.example-val{
		font-variant: small-caps;
		font-size: 15px;
		font-weight: bold;
		display: block;
		position: absolute;
		margin-top: 30px;
}
.example-val:before{
		content: "Value Greater Than or Equal To: ";
		font-variant: small-caps;
		font-size: 15px;
		font-weight: bold;
}
.noUi-connect{
	background: rgba(179, 36, 32, .8);
}
#sourceTxt {
  padding-top:55px;
  padding-left: 10px;
  text-align:left;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 900,
  'GRAD' 0,
  'opsz' 24
}

._sInfo{
    box-shadow: 10px 5px 5px rgb(110, 111, 111);
	z-index: 9999;
	background-color:rgb(255, 255, 255);
	padding: 45px;
	font-size:1.1em;
	width: 65%;
	margin-top: 1.1em;
	max-height: 80%;
	border:3px solid rgb(83, 83, 83);
    border-radius: 7px;
	transition: margin-top 200s;
	animation-duration: 300ms;
	animation-name: slidedown; 
    box-shadow:rgba(119, 108, 106, 0.5);
    & p { padding: 0 20px 25px 20px;}
	& h1 { font-weight:600;padding-bottom:30px;}
	& img {vertical-align: baseline;}
}
@keyframes slidedown {
  from {
    margin-top: 100%;
	opacity:.70;
  }
  to {
    margin-top: 1.2em;
	opacity:1;
  }
}
._sInfo::backdrop {
	background-color: rgba(119, 108, 106, 0.5);
	backdrop-filter: blur(10px);
}
.closemodal:not(button) {
	position:absolute;
	top:0;
	right:0;
	font-size:1.5em;
	cursor:pointer;
}
#_cat{
	font-size:small;
}